Set($rtname, "{{ rtname }}");
Set($Organization, "{{ rt_organization }}");
Set($Timezone, "Europe/Berlin");
Set($LogToSTDERR, "debug");
Set($LogStackTraces, 1);
Set($RestrictReferrer, 0);
Set($DevelMode, 1);
Set($WebDomain, '{{ ansible_default_ipv4.address }}');
